.keypadContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--keypad-bg-color);

  @media (max-width: 600px) {
    gap: 10px;
    padding: 8px;
  }
}

.button {
  height: 24px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 600px) {
    height: 50px;
    font-size: 1rem;
  }
}

.numberButton {
  background-color: var(--number-btn-bg);
  color: var(--number-btn-color);

  &:hover {
    background-color: var(--number-btn-hover-bg);
  }
}

.operatorButton {
  background-color: var(--operator-btn-bg);
  color: var(--operator-btn-color);

  &:hover {
    background-color: var(--operator-btn-hover-bg);
  }
}

.specialButton {
  background-color: var(--special-btn-bg);
  color: var(--special-btn-color);

  &:hover {
    background-color: var(--special-btn-hover-bg);
  }
}

.equalsButton {
  background-color: var(--equals-btn-bg);
  color: var(--equals-btn-color);

  &:hover {
    background-color: var(--equals-btn-hover-bg);
  }
}

.light-theme {
  --keypad-bg-color: #f0f0f0;
  --number-btn-bg: #e0e0e0;
  --number-btn-color: #000000;
  --number-btn-hover-bg: #d5d5d5;
  --operator-btn-bg: #f9a825;
  --operator-btn-color: #ffffff;
  --operator-btn-hover-bg: #f57f17;
  --special-btn-bg: #cfcfcf;
  --special-btn-color: #000000;
  --special-btn-hover-bg: #b0b0b0;
  --equals-btn-bg: #2200ff;
  --equals-btn-color: #ffffff;
  --equals-btn-hover-bg: #000986;
}

.dark-theme {
  --keypad-bg-color: #424242;
  --number-btn-bg: #757575;
  --number-btn-color: #ffffff;
  --number-btn-hover-bg: #616161;
  --operator-btn-bg: #fbc02d;
  --operator-btn-color: #000000;
  --operator-btn-hover-bg: #f9a825;
  --special-btn-bg: #9e9e9e;
  --special-btn-color: #000000;
  --special-btn-hover-bg: #7e7e7e;
  --equals-btn-bg: #673ab7;
  --equals-btn-color: #ffffff;
  --equals-btn-hover-bg: #512da8;
}
